aside {
  width:190px;
  float:left;
}
aside #login_box {
  width:190px;
  height:130px;
  box-shadow:1px 1px 5px #dddddd;
}
aside #login_title {
  margin:10px 0 0 10px;
}
aside #input_button {
  margin:10px 0 0 10px;
}
aside #login_input {
  float:left;
}
aside #login_btn {
  float:left;
  margin:3px 0 0 7px;
}
aside #login_input input {
  width:100px;
  height:20px;
  border:solid 1px #dddddd;
}
aside #login_input li {
  margin-top:2px;
  list-style-type: none;
}
aside #join_search {
  margin:10px 0 0 10px;
}
aside #guestbook {
  margin-top:10px;
  width:190px;
  height:130px;
  box-shadow:1px 1px 5px #dddddd;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  line-height: 18px;
}
aside #guestbook_title {
  width:165px;
  padding:10px 0 0 5px;
  margin:0 0 0 10px;
  list-style-type: circle;
}
aside #guestbook ul {
  margin:5px 0 0 35px;
}
aside #guestbook li {
  margin-top:3px;
  list-style-type: circle;
}

section#main {
    width:760px;
    float:right;
}
section#main #notice_free_youtube {
    height:250px;
    position:relative;
    margin-top:10px;
}
section#main #notice {
    width:360px;
    position:absolute;
}
section#main .latest_title {
    padding-bottom:3px;
    border-bottom:solid 1px #cccccc;
}
section#main .latest_title img.latest_img {
    float:left;
}
section#main .latest_title img.more {
    float:right;
}
section#main .latest_content .image {
    float:left;
    margin:10px 0 0 20px;
}
section#main .latest_content .list {
    float:right;
}
section#main .latest_content li {
    padding:10px 0 10px 0;
}
section#main .latest_content .list div {
    float:left;
}
section#main .latest_content .list .subject {
    width:170px;
}
section#main #free {
    width:360px;
    position:absolute;
    top:120px;
}
section#main #youtube {
    width:365px;
    height:250px;
    position:absolute;
    left:380px;
}
section#main #youtube_img {
    margin:10px 0 0 5px;
}
section#main #gallery_box {
    width:740px;
    height:200px;
    margin:10px 0 0 5px;
    box-shadow:1px 1px 5px #dddddd;
}
section #gallery_list {
    padding:25px 0 0 18px;
}
section .items {
    float:left;
    text-align:center;
    margin-left:35px;
}
section .items li {
    margin-top:3px;
}
